XML Schemas and Documentation/AAAA_Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://ns.ebizformedia.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.ebizformedia.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AaaaMessageHeader" type="aaaaMessageType" />
  <xs:simpleType name="schemaNameString">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="schemaVersionString">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="mediaString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Interactive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="businessObjectString">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="actionString">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="guid">
    <xs:annotation>
      <xs:documentation xml:lang="en">The representation of a GUID, generally the id of an element.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^[a-fA-F\d]{8}-[a-fA-F\d]{4}-[a-fA-F\d]{4}-[a-fA-F\d]{4}-[a-fA-F\d]{12}$" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uniqueMessageId">
    <xs:restriction base="guid" />
  </xs:simpleType>
  <xs:complexType name="aaaaMessageType">
    <xs:annotation>
      <xs:documentation>The root of all media documents, this element will be extended to include the media content - THIS IS THE STANDARD HEADER FROM THE AAAA</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AAAA-Values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SchemaName" type="schemaNameString">
              <xs:annotation>
                <xs:documentation>Name of the Schema (XSD) file used for validation of the data.  This value will be restricted in the media document. For example: spotRadioOrder</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="SchemaVersion" type="schemaVersionString">
              <xs:annotation>
                <xs:documentation>Version number of the Schema (XSD) file used for validation of the data.  This value will be restricted in the media document. For example: 0.2e.2</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Media" type="mediaString">
              <xs:annotation>
                <xs:documentation>Identifies the media for this transmission. This value will be restricted in the media document. For example: SpotRadio</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="BusinessObject" type="businessObjectString">
              <xs:annotation>
                <xs:documentation>Identifies the object for this message. This value will be restricted in the media document. For example: Order, Invoice.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Action" type="actionString">
              <xs:annotation>
                <xs:documentation>The action to apply to the business object e.g. Create, Revise, Delete, etc.  This value will be restricted in the media document.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="UniqueMessageID" type="uniqueMessageId">
              <xs:annotation>
                <xs:documentation>Unique message id.  Created by message originator and used throughout message lifetime.  Message acknowledgement from receiver must include it.  Intermediaries (hub, gateway, etc.) use and reference for troubleshooting purposes in the routing and delivery of the message.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>