XML Schemas and Documentation/IAB_CampaignCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns="http://ns.iab.net" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.iab.net" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="IAB_Common.xsd" />
  <xsd:annotation>
    <xsd:documentation>
			"Copyright Interactive Advertising Bureau. All Rights Reserved. http://www.iab.net/ebiz"
			Name: IAB_CampaignCommon.xsd
			Date this version: 2008-09-30
			Author(s): Lon Pilot and IAB Ad Ops Council E-Business Working Group
			
			Change History:
			NONE
		</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="CampaignReferenceInfo" type="CampaignReferenceInfoType">
    <xsd:annotation>
      <xsd:documentation>Contains information on the proposal name, version, and sender.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CampaignReferenceInfoType">
    <xsd:sequence>
      <xsd:element name="DocumentName" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Name of campaign</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CampaignReferenceId" type="EntityIdType">
        <xsd:annotation>
          <xsd:documentation>Originating system's ID for this campaign.  Throughout a 'conversation' between the buy and sell side, this value should uniquely identify the campaign. Use of 'name' attribute allows for additional system-ID mapping and identification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentId" type="EntityIdType">
        <xsd:annotation>
          <xsd:documentation>Originating system's ID for this version of the document. During a 'conversation' between the buy and sell side this value should uniquely identify this version of the document. If Publisher sent proposal, should stay publisher ID. Use of 'name' attribute allows for additional system-ID mapping and identification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OtherID" type="EntityIdType">
        <xsd:annotation>
          <xsd:documentation>Additional IDs for use by other systems. In this case, Agency and/or partner systems would attach its own document ID here.  Use of 'name' attribute allows for additional system-ID mapping and identification.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Version">
        <xsd:annotation>
          <xsd:documentation>Version of document.  See IAB E-Business Tech Specs for version control instructions.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="InReferenceTo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ReferencedDocumentId" type="EntityIdType" />
            <xsd:element name="ReferencedVersion">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:fractionDigits value="2" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OrderStatus" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Can be used for communicating varying status of proposal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DocumentSender" type="PersonNameType">
        <xsd:annotation>
          <xsd:documentation>The name of the person originating and sending the document.  Used for problem solving.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SentDate" type="IABDateTimeType" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>